@{
    Layout = "../_Layout";
    ViewData["Title"] = "Звіт";
}
@model CurriculumHandler.Models.DocReport
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="text-center">
    <h1 class="display-4">Звіт @Model.DocName</h1>
</div>

<table class="table table-striped">
    @foreach (var row in Model.RowReports)
    {
        <tr class="@(row.Result == CurriculumHandler.Enums.RowResult.Successed ? "table-success" : row.Result == CurriculumHandler.Enums.RowResult.Skipped ? "table-info" : "table-danger")">
            <td>
                @Html.DisplayName(row.RowName)
            </td>
        </tr>
        <tr>
            <td>
                @if (row.CellReports.Any())
                {
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 10%">Комірка</th>
                                <th scope="col" style="width: 90%">Повідомлення</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cell in row.CellReports)
                            {
                                <tr class="@(cell.Result ? "table-success" : "table-danger")">
                                    <td>@Html.DisplayName(cell.Address)</td>
                                    <td>@Html.Raw(cell.Message)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }else
                {
                    @Html.Raw("<b>&#8593;</b> Дисципліна не знайдена")
                }
        </tr>
    }
</table>


